* {
    color: rgb(243, 229, 171);
}

body {
    background: url("../images/wooden-background.jpg") no-repeat fixed center;
    background-size: cover;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
}

#gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#gallery img {
    max-width: 100%;
    object-fit: cover;
}

.employee-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.employee-name {
    visibility: hidden;
}


@media (min-width: 426px) {
    #gallery {
        flex-direction: row;
    }

    #gallery img{
        max-width: 50%;
    }

    .employee-pic {
        width: 300px;
        height: 300px;
    }

    .employee-name {
        visibility: visible;
    }
}

@media (min-width: 1025px) {
    #gallery {
        flex-direction: row;
    }

    #gallery img {
        max-width: 25%;
    }
}