* {
    color: rgb(243, 229, 171);
}

body {
    background: url("../images/wooden-background.jpg") no-repeat fixed center;
    background-size: cover;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
}